clay==3.0.3
click==7.1.2
colorama==0.4.3
cyrax==3.1
Flask==1.1.2
gevent==1.5.0
greenlet==0.4.15
hecto==1.200121
itsdangerous==1.1.0
Jinja2==2.11.2
markdown2==2.3.9
MarkupSafe==1.1.1
multipart==0.2
pyceo==2.200402
python-dotenv==0.13.0
PyYAML==5.1.2
smartypants==2.0.1
Werkzeug==1.0.1
whitenoise==4.1.4
