{% block description %}
    <section id="{{id}}" data-spy="{{id}}" data-target="#{{id}}">
        <h2>{{project}}{% if sub_project %}: {{sub_project}}{% else %}{% endif %}</h2>
        <h3>{{simple_desc}}</h3>
        <ul class="nav nav-tabs" id="{{id}}Tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="{{id}}-at-a-glance-tab" data-toggle="tab" href="#{{id}}-at-a-glance" role="tab"
                aria-controls="{{id}}-at-a-glance" aria-selected="true">At a glance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="{{id}}-status-tab" data-toggle="tab" href="#{{id}}-status" role="tab" aria-controls="{{id}}-status"
                aria-selected="false">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="{{id}}-further-reading-tab" data-toggle="tab" href="#{{id}}-further-reading" role="tab" aria-controls="{{id}}-further-reading"
                aria-selected="false">Further Reading</a>
            </li>
        </ul>
        <div class="tab-content" id="{{id}}TabContent">
            <div class="tab-pane fade active show" id="{{id}}-at-a-glance" role="tabpanel" aria-labelledby="{{id}}-at-a-glance">
                <p>
                    {% block at_a_glance %}
                    
                    {% endblock at_a_glance %}
                </p>
            </div>
            <div class="tab-pane fade" id="{{id}}-status" role="tabpanel" aria-labelledby="{{id}}-status">
                <p>
                    {% block status %}
                    
                    {% endblock status %}
                </p>

                    <p>
                    {% block future %}
                    
                    {% endblock future %}
                </p>

                <p>
                    {% block vs_alts %}
                    
                    {% endblock vs_alts %}
                </p>
            </div>
            <div class="tab-pane fade" id="{{id}}-further-reading" role="tabpanel" aria-labelledby="{{id}}-further-reading">
                <p>
                    {% block further_reading %}
                    
                    {% endblock further_reading %}
                </p>
            </div>
        </div>
    </section>
{% endblock description %}