{% extends "description.html" %}

{# Make sure to number your filenames if you need them to be in a specific order #}
{# Ordering needs to start at 1 (not 0) #}

{% set id="ln-onion-routing"%} {# id must be unique and follow the rules for ids in css https://www.w3.org/TR/CSS21/syndata.html#characters #}
{% set project="Lightning" %} {# Use proper-case (ex. Bitcoin, not bitcoin) #}
{% set sub_project="Onion Routing" %} {# set to False or "" if not using #}
{% set simple_desc="Protects a Lightning transaction so no one else can see it" %} {# Keep this short (~50 characters) #}

{% set details=True %}
{% set further_reading=True %}

{% block at_a_glance %} {# This is the one required block #}
<p>
    Every Lightning IOU moves through multiple nodes (aka servers) on its way to its final recipient. 
    For each node in its path another layer of encryption is added. 
    When a node receives a Lightning IOU it is able to decrypt one, 
    and only one of these layers before sending it on to the next node.
</p>

<p>
    This is a secure communication technology used in other software like Tor.
</p>
{% endblock at_a_glance %}

{% block status %}
<p>
    Onion routing is a part of the Lightning network and helps protect every transaction on it.
</p>

<p>
    However keep in mind that no single piece of technology is a magic solution to all issues 
    and privacy on Lightning can and will be improved in a variety of ways.
</p>
{% endblock status %}

{% block future %}

{% endblock future %}

{% block vs_alts %}
<p>
    Compare this to a current day credit card transaction where your data is regularly sold wholesale and you have no control over it.
</p>

<p>
    This is yet another technology that makes electronic transactions more like cash.
</p>
{% endblock vs_alts %}

{% block further_reading %}
<p><a href="https://wiki.ion.radar.tech/tech/lightning/onion-routing">Radar.tech</a></p>
<p><a href="https://github.com/lightningnetwork/lightning-rfc/blob/master/04-onion-routing.md">Lightning RFC: BOLT #4</a>
{% endblock further_reading %}