{% extends "description.html" %}

{# Make sure to number your filenames if you need them to be in a specific order #}
{# Ordering needs to start at 1 (not 0) #}

{% set id="ln-amp"%} {# id must be unique and follow the rules for ids in css https://www.w3.org/TR/CSS21/syndata.html#characters #}
{% set project="Lightning" %} {# Use proper-case (ex. Bitcoin, not bitcoin) #}
{% set sub_project="Atomic Multi-path Payments" %} {# set to False or "" if not using #}
{% set simple_desc="Allows for larger payments over Lightning" %} {# Keep this short (~50-70 characters) #}

{% set details=False %}
{% set further_reading=True %}

{% block at_a_glance %} {# This is the one required block #}
The naive way of sending money to friends on Lightning is to use BTC from a single Lightning channel. 
However every Lightning channel has a maximum size transaction that it can support. 
This improvement allows you to pay your friends and receive BTC from them using multiple Lightning channels, 
greatly increasing the amount of BTC that can be sent between you and your friends.
{% endblock at_a_glance %}

{% block status %}

{% endblock status %}

{% block future %}

{% endblock future %}

{% block vs_alts %}

{% endblock vs_alts %}

{% block further_reading %}
<p><a href="https://wiki.ion.radar.tech/tech/research/atomic-multi-path-payments">Radar.tech</a></p>
{% endblock further_reading %}