{% extends "description.html" %}

{# Make sure to number your filenames if you need them to be in a specific order #}
{# Ordering needs to start at 1 (not 0) #}

{% set id=""%} {# id must be unique and follow the rules for ids in css https://www.w3.org/TR/CSS21/syndata.html#characters #}
{% set project="" %} {# Use proper-case (ex. Bitcoin, not bitcoin) #}
{% set sub_project="" %} {# set to False or "" if not using #}
{% set simple_desc="" %} {# Keep this short (~50-70 characters) #}

{# Sections
    set details=True if including status, future, or vs_alts.
    set further_reading=True if including further_reading links.
 #}
 
{% set details=True %}
{% set further_reading=True %}

{% block at_a_glance %} {# This is the one required block #}

{% endblock at_a_glance %}

{% block status %}

{% endblock status %}

{% block future %}

{% endblock future %}

{% block vs_alts %}

{% endblock vs_alts %}

{% block further_reading %}

{% endblock further_reading %}