{% extends "description.html" %}

{# Make sure to number your filenames if you need them to be in a specific order #}

{% set id=""%} {# id must be unique and follow the rules for ids in css https://www.w3.org/TR/CSS21/syndata.html#characters #}
{% set project="" %} {# Use proper-case (ex. Bitcoin, not bitcoin) #}
{% set sub_project="" %} {# set to False or "" if not using #}
{% set simple_desc="" %} {# Keep this short (~50 characters) #}

{% block at_a_glance %}

{% endblock at_a_glance %}

{% block status %}

{% endblock status %}

{% block future %}

{% endblock future %}

{% block vs_alts %}

{% endblock vs_alts %}

{% block further_reading %}

{% endblock further_reading %}